dist: trusty
sudo: false
language: python
notifications:
  email: false
matrix:
  include:
  - python: 3.5
  - python: 3.6
  - python: 3.7
    dist: xenial
    sudo: required
  - python: 3.8
    dist: xenial
    sudo: required
  - python: 3.9
    dist: xenial
    sudo: required
env:
  global:
  - CFLAGS=-coverage
  - LDFLAGS=-coverage -lgcov
  - PYXMLSEC_TEST_ITERATIONS=50

addons:
  apt:
    packages:
    - libssl-dev
    - libxmlsec1
    - libxmlsec1-dev
    - libxmlsec1-openssl
    - libxslt1-dev
    - pkg-config
    - lcov
install:
- travis_retry pip install --upgrade pip setuptools wheel
- travis_retry pip install coverage -r requirements-test.txt --upgrade --force-reinstall
- python setup.py bdist_wheel
- pip install xmlsec --only-binary=xmlsec --no-index --find-links=dist/
script: coverage run -m pytest -v tests --color=yes
after_success:
- lcov --capture --no-external --directory . --output-file coverage.info
- lcov --list coverage.info
- bash <(curl -s https://codecov.io/bash) -f coverage.info
before_deploy:
- travis_retry pip install Sphinx -r doc/source/requirements.txt
- git apply --verbose --no-index --unsafe-paths --directory=$(python -c "import site; print(site.getsitepackages()[0])") doc/source/sphinx-pr-6916.diff
- sphinx-build -EWanb html doc/source build/sphinx
