recursive-include src *
recursive-include tests *
prune */__pycache__
prune .github
prune doc
exclude .appveyor.yml
exclude .editorconfig
exclude .travis.yml
exclude .gitattributes
exclude .gitignore
exclude requirements-test.txt
exclude requirements.txt
exclude xmlsec_extra.py
exclude xmlsec_setupinfo.py
