name: sdist
on: [push, pull_request]
jobs:
  sdist:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install build dependencies
        run: |
          pip install --upgrade pip setuptools wheel
      - name: Package source dist
        run: |
          python setup.py sdist
      - name: Install test dependencies
        run: |
          sudo apt-get install libxml2-dev libxmlsec1-dev libxmlsec1-openssl opensc softhsm2 libengine-pkcs11-openssl
          pip install --upgrade -r requirements-test.txt --no-binary lxml
          pip install dist/xmlsec-$(python setup.py --version).tar.gz
      - name: Run tests
        run: |
          pytest -v --color=yes
