name: sdist
on: [push, pull_request]
jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install build dependencies
        run: |
          pip install --upgrade pip setuptools wheel
      - name: Package source dist
        run: |
          python setup.py sdist
      - name: Install test dependencies
        env:
          STATIC_DEPS: true
        run: |
          pip install --upgrade -r requirements-test.txt
          pip install dist/xmlsec-$(python setup.py --version).tar.gz
      - name: Run tests
        run: |
          pytest -v --color=yes
      - name: Upload dist
        if: startsWith(github.ref, 'refs/tags/')
        env:
          TWINE_NON_INTERACTIVE: true
          TWINE_REPOSITORY_URL: https://test.pypi.org/legacy/
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: |
          pip install twine
          twine upload dist/xmlsec-*.tar.gz
